.snake {
    position: absolute;
    top: 0px;
    left: 20px;
}

.food {
    position: absolute;
    top: 0px;
    left: 20px;
}

.belly {
    position: absolute;
}

#body {
    box-sizing: border-box;
    margin: 0;
    border: solid 10px black;
    height : 98vh;
    width : 98vw;
}