body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.snake {
    position: absolute;
    top: 0px;
    left: 20px;
}

.food {
    position: absolute;
    top: 0px;
    left: 20px;
}

.belly {
    position: absolute;
}

#body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: solid 10px black;
    border-radius: 5px 5px;
    height : 100vh;
    width : 100vw;
    display: flex;
}

#field {
    background-color: aqua;
    flex:1;
}